* {
  box-sizing:border-box;
}

body {
  background-color: #4F5D75;
}

.title {
  padding-bottom: 50px;
  height: 90vh;
  display: flex;
  justify-content: center;
  animation: shake 4.5s infinite ease;
}

.pic1 {
  background-color: #EAE8FF;
  display: none;
}

.pic2 {
  background-color: #D8D5DB;
  display: none;
}

.pic3 {
  background-color: #ADACB5;
  display: none;
}

.pic4 {
  background-color: #2D3142;
  display: none;
}

.pic5 {
  background-color: #B0D7FF;
  display: none;
}

@media screen and (max-width:1000px) {
  body {
    background-color: #B0D7FF;
  }

  .pic5 {
    display: flex;
    justify-content: center;
    height: 80vh;
    padding-top: 100px;
  }

  .pic4 {
    display: none;
  }

  .pic3 {
    display: none;
  }

  .pic2 {
    display: none;
  }

  .pic1 {
    display: none;
  }

  .title {
    display: none;
  }
}

@media screen and (max-width:900px) {
  /* fourth gif of snorlax */
  body {
    background-color: #2D3142;
  }

  .pic4 {
    display: flex;
    justify-content: center;
    height: 80vh;
    padding-top: 150px;
  }

  .pic1 {
    display: none;
  }

  .pic2 {
    display: none;
  }

  .pic3 {
    display: none;
  }

  .pic5 {
    display: none;
  }

  .title {
    display: none;
  }
}

@media screen and (max-width: 800px) {
  /* third gif of snorlax */
  body {
    background-color: #ADACB5;
  }

  .pic3 {
    display: flex;
    justify-content: center;
    height: 80vh;
    padding-top: 150px;
  }

  .pic1 {
    display: none;
  }

  .pic2 {
    display: none;
  }

  .pic4 {
    display: none;
  }

  .pic5 {
    display: none;
  }

  .title {
    display: none;
  }
}

@media screen and (max-width: 700px) {
  /* second gif of snorlax */
  body {
    background-color: #D8D5DB;
  }

  .pic2 {
    display: flex;
    justify-content: center;
    height: 80vh;
    padding-top: 150px;
  }

  .pic1 {
    display: none;
  }

  .pic3 {
    display: none;
  }

  .pic4{
    display: none;
  }

  .pic5 {
    display: none;
  }

  .title {
    display: none;
  }
}

@media screen and (max-width: 600px) {
  /* first gif of snorlax */
  body {
    background-color: #EAE8FF;
  }

  .pic1 {
    display: flex;
    justify-content: center;
    height: 70vh;
    padding-top: 150px;
  }

  .pic2 {
    display: none;
  }

  .pic3 {
    display: none;
  }

  .pic4 {
    display: none;
  }

  .pic5 {
    display: none;
  }

  .title {
    display: none;
  }
}

@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}
