body {
  background-color: rgb(32, 134, 208);
  font-family: monospace;
  text-align: center;
  font-size: 22px;
  margin: 0 auto;
  font-family: 'Pokemon Solid', monospace;
  letter-spacing: 3px;
}

h1 {
  color: rgb(218, 222, 69);
  text-shadow: 7px 7px 7px rgb(38, 45, 213);
}

p {
  color: rgb(218, 222, 69);
  text-shadow: 6px 6px 6px rgb(38, 45, 213);
}

ul {
  list-style: none;
  font-size: 20px;
  padding: 0;
  padding-bottom: 115px;
  background-color: rgba(240, 167, 70, 0.86);
  margin: 0 auto;
  margin-left: 350px;
  margin-right: 350px;
}

ul ul li {
  display: block;
}

ul li:hover {
  border: 3px solid red;
  overflow: hidden;
}

a {
  color: rgb(12, 13, 13);
  text-decoration: none;
}

a:link, a:visited {
  color: rgb(56, 56, 59);
}

img {
  max-width: 100%;
  max-height: 250px;
}

.photo {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  width: 100%;
  height: 5vh;
}

.photo-2 {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  width: 100%;
  height: 5vh;
}
