* {
  box-sizing:border-box;
}

body {
  background-color: rgb(255, 247, 227);
}

button {
  background-color: rgb(180, 189, 158);
  border-radius: 50%;
  border: none;
  cursor: grab;
  padding: 20px;
}

button:hover {
  background-color: rgb(214, 218, 168);
}

.sidebar {
  background-color: rgb(111, 147, 106);
  position: fixed;
  top: 0;
  right: -100px;
  height: 300px;
  width: 100px;
  padding: 20px;
  transition: right .5s ease-in-out;
}

.active {
right: 0;
}

.draggable {
  cursor: grab;
  width: 150px;
  height: 100px;
  background-color: rgba(82, 106, 44, 0.73);
}

.marquee {
  width: 100%; /* the plugin works for responsive layouts so width is not necessary */
  overflow: hidden;
  border:1px solid #ccc;
  font-size: 40px;
  background-color: rgba(123, 140, 108, 0.84);
}
