* {
  box-sizing:border-box;
}

body {
  background-color: rgba(113, 145, 217, 1);
  margin: 0;
  font-family: 'Quicksand', font-family;
  text-align: center;
}

h1 {
  color: #B6BEDA;
  font-size: 70px;
  padding-top: 10px;
}

ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  font-size: 25px;
  padding-top: 40px;
}

p {
  color: rgb(78, 78, 78);
  padding-left: 300px;
  padding-right: 300px;
}

img {
  max-height: 1000px;
}
