* {
  box-sizing:border-box;
}

body {
  background-color: #191E18;
  margin: 0;
}

.marquee1 {
  width: 100%; /* the plugin works for responsive layouts so width is not necessary */
  overflow: hidden;
  /* border:1px solid #ccc; */
  font-size: 20px;
  color: rgba(245, 232, 203, 0.73);
  background-color: #3F4340;
}

.slideshow {
  margin: 0px auto;
  margin-top: 118px;
  margin-bottom: 30px;
}

.marquee2 {
  width: 100%; /* the plugin works for responsive layouts so width is not necessary */
  overflow: hidden;
  /* border:1px solid #ccc; */
  font-size: 20px;
  color: rgba(245, 232, 203, 0.73);
  background-color: #3F4340;
  /* margin-top: 100px; */
  position: fixed;
  bottom: 0;
}
