* {
  box-sizing:border-box;
}

body {
  background-color: rgb(233, 233, 169);
  font-size: 20px;
}

p {
  font-family: monospace;
}

img {
  max-width: 400px;
}

.object {
  background-color: rgb(158, 168, 237);
  width: 100px;
  height: 100px;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transition:
    background-color .5s,
    transform .5s,
    border-radius .5s;
  cursor: pointer;
}

.object:hover {
  background-color: rgb(205, 161, 182);
  transform: scale(2);
  border-radius: 0;
}

.special {
  color: rgb(209, 148, 27);
}

.special:hover {
  color: rgb(222, 99, 54);
  cursor: grab;
}

.hidden {
  position: absolute;
  bottom: 10px;
  left: 10px;
  opacity: 0;
  transition: opacity .5s;
}

.mabuhay-text {
  top: 10px;
  right: 10px;
  bottom: auto;
  left: auto;
}

.special:hover + .hidden {
  opacity: 1;
}

.interesting li:nth-of-type(2) {
  color: rgb(76, 121, 86);
}
